.realtime-data-viewer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    /* padding: 30px; */
    background-color: black;
    padding: 1rem;
    @media (max-width: 600px) {
        width: 600px;
    }
}

.chart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vmax;
    box-sizing: border-box;
    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 600px) {
        width: 600px;
    }
}
.chart{
    height: 50vh;
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1000px) {
        height:40vh;
        width: 100vw;
    }
    @media (max-width: 600px) {
        width: 600px;
    }
}
.table-view{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 100vh;
    overflow-y: auto;
    padding: 10px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.table-view::-webkit-scrollbar {
    display: none;
  }

table{
    border: .1px solid rgb(255, 255, 255) ;
    table-layout: fixed;
}
.tableHeaderStyle{
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
}
tbody{
    border: .1px solid rgb(252, 252, 252);
}


