table{
    border: .1px solid rgb(255, 255, 255) ;
    table-layout: fixed;
    width: 100%;
}
.tableHeaderStyle{
    text-align: center;
    margin: 1px;
}
.table-view::-webkit-scrollbar {
    display: none;
}

.tableCellStyle{
    text-align: center;
}